<aside id="secondaryContent">
    <div id="specials" class="callOut">

        @await (Component.InvokeAsync<ExploreCalifornia.ViewComponents
            .MonthlySpecialsViewComponent>())

    </div>
    <div id="trivia" class="callOut">
        <h1>Did You Know?</h1>
        <p>California produces over 17 million gallons of wine each year!</p>
    </div>
</aside>